---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>

			<p>I'm a 4th year Computer Science and Language student in Trinity College Dublin. Welcome! Here you'll find some of my musings, as well as my GitHub and social links to keep up with all of my personal projects.</p>

			<div>
				<p>
					Some stuff I'm working on at the moment:
				</p>
				<ul>
					<li>🧠 Transformers: Adapting the decision transformer framework for sequence-to-sequence recommendation task</li>
					<!--<li>💻 Tobar: Third-level course information platform</li>-->
					<li>🌐 FullStackOpen: Broadening my fullstack skills with this nice University of Helsinki <a href="https://fullstackopen.com/en/">course</a></li>
					<li>📚 College: Variety of modules, mostly CS and some linguistics</li>
					<li>💿 Fun: Working on some audiovisual <a href="https://open.spotify.com/artist/07HIYTYKnxErGY6d27LtNp?si=4PXoZDbnQqeihBDjGfVF7A">art</a></li>
				</ul>
			</div>

			<p>I made this site using Astro and Netlify. </p>

			<img id="anagram" src="/anagram-animation-verdana.gif" alt="Anagram Animation">
			
		</main>
		<Footer />

		<style>
			main {
				margin: -16px 0 0 0;
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			#anagram {
				width: 100%;
				transform: scale(0.2);
			}

			@media (max-width: 899px) {
				#anagram {
					transform: scale(0.3); /* Scale for screens below 765px width */
				}
			}

			@media (min-width: 900px) {
				#anagram {
					transform: scale(0.1); /* Scale for screens with a minimum width of 765px */
				}
			}

			li {
				list-style-type: none;
				margin: 
			}
			
		</style>

	</body>
</html>