---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>A thinking nettle no one could grasp their palms around.</h1>
			<p>
				You have found what you're looking for.
			</p>
			<img src="/luke-interlaken-min.JPG" alt="Luke Interlaken">
			<img src="/keem-bay-house-min.jpeg" alt="Luke Interlaken">
		</main>
		<Footer />

		<style>
			main {
			margin: 0;
			width: 100%
			}
		</style>
	</body>
</html>
