---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>

			<p>I am a 4th year Computer Science and Language student in Trinity College Dublin. Welcome! Here you'll find some of my musings, as well as my GitHub and social links to keep up with all of my personal projects.</p>
			<p>I am constantly iterating upon this site, so expect some new visual and functional changes coming soon. </p>
			  
			<img id="anagram" src="/anagram-animation-verdana.gif" alt="Anagram Animation">
			
		</main>
		<Footer />

		<style>
			main {
				margin: 0;
				width: 100%;
				display: flex;
				flex-direction: column;
			}

			#anagram {
				width: 100%;
				transform: scale(0.2);
			}
			
		</style>

	</body>
</html>