---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h1 id="siteTitle">
		{SITE_TITLE}
	</h1>
	<nav>
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Writing</HeaderLink>
		<HeaderLink href="https://www.instagram.com/lukerabbitte/" target="_blank">Instagram</HeaderLink>
		<HeaderLink href="https://github.com/lukerabbitte" target="_blank">GitHub</HeaderLink>
		<HeaderLink href="https://www.linkedin.com/in/lukerabbitte/" target="_blank">LinkedIn</HeaderLink>
	</nav>
</header>

<style>
	header {
		margin: 0 0 1em 0;
	}
	nav {
		display: flex;
		align-items: flex-start;
		margin: 1rem 0 0 0;
	}
	h2 {
		margin: 0.5em 0;
	}
	#siteTitle {
		margin: 0em;
		width: 100%;
		height: auto;
		font-family: 'Roboto Mono', monospace;
		font-size: 4em;
		font-weight: bold;
		color: #000000;
		line-height: 1.5;
		background-image: url('/keem-bay-house-min.jpeg'); 
		background-size: cover;
		background-position: center;
		background-repeat: repeat;
		background-size: 12%;
	}
	
</style>